.select {
  position: relative;

  width: 100%;
  max-width: 380px;
  max-height: 70px;

  &--open {
    svg {
      transform: rotate(180deg);
    }
  }

  svg {
    transition: transform 0.1s ease;
  }
}

.select__selected {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 23px 30px;

  cursor: pointer;

  text-transform: capitalize;

  border-radius: 35px;
  background-color: var(--input-background);

  &--placeholder {
    user-select: none;
    text-transform: none;

    color: var(--input-placeholder);
  }

  &--error {
    box-shadow: inset 0 -2px 0 #a01414;
  }
}

.select__list {
  position: absolute;
  z-index: 9;
  top: calc(100% + 5px);
  right: 0;
  left: 0;

  overflow: hidden;

  width: 100%;

  border: 1px solid var(--input-placeholder);
  border-radius: 35px;
  background-color: var(--input-background);
  box-shadow: var(--box-shadow);
}

.select__list__item {
  overflow: hidden;

  padding: 23px 30px;

  cursor: pointer;
  text-transform: capitalize;

  & + & {
    border-top: 1px solid var(--input-placeholder);
  }
}

@media only screen and (max-width: 500px) {
  .select__selected {
    padding: 18px 20px;

    border-radius: 30px;
  }

  .select__list {
    border-radius: 30px;
  }

  .select__list__item {
    padding: 18px 20px;
  }
}
