.select__marker {
  transition: transform 0.1s ease;

  svg {
    path {
      transition: stroke 0.1s ease;
    }
  }
}

.select__selected {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-height: 70px;

  padding: 23px 30px;

  text-align: left;

  border-radius: 35px;

  &--placeholder {
    user-select: none;
    text-transform: none;

    color: var(--input-placeholder);
  }
}

.select {
  position: relative;

  width: 100%;
  max-width: 380px;

  -webkit-tap-highlight-color: transparent;

  cursor: pointer;

  transition: border 0.25s ease-out;

  text-transform: capitalize;

  border: 1px solid var(--input-placeholder);

  border-radius: 35px;
  background-color: var(--input-background);

  &--open {
    .select__marker {
      transform: rotate(180deg);
    }
  }

  &--focus {
    border: 1px solid var(--text-light);

    .select__selected {
      .select__marker {
        svg {
          path {
            stroke: var(--text-light);
          }
        }
      }
    }
  }

  &--error {
    border: 1px solid #a01414;
    box-shadow: inset 0 -2px 0 #a01414;
  }
}

.select__icon {
  margin-right: 20px;
}

.select__selected__text {
  width: 100%;
}

.select__list {
  position: absolute;
  z-index: 9;
  top: calc(100% + 5px);
  right: 0;
  left: 0;

  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;

  width: 100%;

  max-height: 285px;

  border: 1px solid var(--input-placeholder);
  border-radius: 35px;
  background-color: var(--input-background);
  box-shadow: var(--box-shadow);

  &::-webkit-scrollbar {
    width: 0;
  }
}

.select__list__item {
  overflow: hidden;

  padding: 23px 30px;

  cursor: pointer;
  text-transform: capitalize;

  &--null {
    text-transform: none;

    color: var(--input-placeholder);
  }

  & + & {
    border-top: 1px solid var(--input-placeholder);
  }
}

@media only screen and (max-width: 500px) {
  .select {
    border-radius: 30px;
  }

  .select__selected {
    padding: 18px 20px;
  }

  .select__list {
    border-radius: 30px;
  }

  .select__list__item {
    padding: 18px 20px;
  }
}
