.input__label {
  display: flex;

  width: 100%;

  max-width: 380px;

  padding: 23px 30px;

  border-radius: 100px;
  background-color: var(--input-background);
  gap: 20px;

  &--error {
    box-shadow: inset 0 -2px 0 #a01414;
  }
}

.input {
  width: 100%;

  padding: 0;

  color: var(--text-light);
  border: none;
  outline: none;

  background-color: transparent;

  font-size: 16px !important;
  line-height: 24px !important;

  &::placeholder {
    color: var(--input-placeholder);
  }
}

.input__icon {
  flex-shrink: 0;
}

.input__error {
  flex-shrink: 0;

  pointer-events: none;

  opacity: 0;

  &--active {
    pointer-events: all;

    opacity: 1;
  }
}
