.button {
  display: inline-block;

  width: 100%;
  max-width: 380px;
  padding: 23px 40px;

  cursor: pointer;

  color: var(--text-light);

  border: none;
  border-radius: 100px;

  font-size: 16px;
  line-height: 24px;

  &--primary {
    background: var(--button-primary);
  }

  &--secondary {
    background: var(--button-secondary);
  }

  &--red {
    background: var(--button-red);
  }

  &--linear-primary {
    $border: 1px;

    position: relative;

    width: auto;

    max-width: none;
    padding: 10px 35px;

    border: none;
    border-radius: 50px;
    background: transparent;

    &::before {
      position: absolute;

      padding: 2px;

      content: "";

      border-radius: 50px;
      background: var(--gradient-primary);
      inset: 0;
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask-composite: xor;
      mask-composite: exclude;
    }
  }
}
