.select-wrapper {
  display: grid;
  align-items: center;

  max-width: 380px;

  text-align: center;

  text-transform: capitalize;
  grid-template-columns: 100px 1fr 100px;
  gap: 5px;
}

.select {
  position: relative;
}

.select__selected {
  padding: 23px 30px;

  cursor: pointer;

  border: 1px solid var(--input-placeholder);

  border-radius: 35px;
  background-color: var(--input-background);

  &--month {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.select__list {
  position: absolute;
  z-index: 9;
  top: calc(100% + 5px);
  right: 0;
  left: 0;

  // display: none;

  overflow: auto;

  height: 300px;

  border: 1px solid var(--input-placeholder);
  border-radius: 35px;
  background-color: var(--input-background);

  &--month {
    text-align: left;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

.select__list__item {
  padding: 18px 30px;

  cursor: pointer;
  user-select: contain;

  &--active {
    background: var(--gradient-primary);
  }

  & + & {
    border-top: 1px solid var(--input-placeholder);
  }
}

@media only screen and (max-width: 500px) {
  .select-wrapper {
    grid-template-columns: 80px 1fr 80px;
  }

  .select__selected {
    padding: 18px 20px;

    border-radius: 30px;
  }

  .select__list__item {
    padding: 18px 20px;
  }
}

@media only screen and (max-width: 350px) {
  .select__list__item {
    padding: 18px 10px;
  }
}
