// .body {
//   &::after {
//     position: absolute;
//     z-index: -2;
//     right: 50%;
//     bottom: -280px;

//     width: 850px;
//     height: 850px;

//     content: "";
//     transform: translate(50%);

//     border-radius: 50%;
//     background-color: #381a42;
//     filter: blur(150px);
//   }
// }

.login__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  min-height: 100%;

  padding-top: 60px;
  padding-bottom: 60px;

  text-align: center;
}

.login__heading {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 60px;
  font-weight: 500;
  line-height: 90px;
}

.login__description {
  width: 100%;
  max-width: 850px;

  margin-top: 0;
  margin-bottom: 50px;
}

.login__form {
  margin-bottom: 20px;
}

.login__link {
  text-align: center;
  text-decoration: none;

  color: #925fa4;

  font-size: 14px;
  line-height: 150%;

  &:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 900px) {
  .login__heading {
    font-size: 48px;
    line-height: 72px;
  }

  .login__description {
    max-width: 510px;

    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 650px) {
  .login__container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .login__heading {
    font-size: 36px;
    line-height: 54px;
  }

  .login__description {
    max-width: 510px;

    margin-bottom: 30px;
  }
}
