.body {
  position: relative;

  overflow: hidden;

  &::after {
    position: absolute;
    z-index: -2;
    top: -180px;
    right: 50%;

    width: 850px;
    height: 850px;

    content: "";
    transform: translate(150px);

    border-radius: 50%;
    background-color: #381a42;
    filter: blur(150px);
  }
}

.register__vector {
  position: absolute;
  z-index: -1;
  right: 50%;

  transform: translate(50%);

  pointer-events: none;

  filter: drop-shadow(var(--box-shadow));

  &--small {
    bottom: -280px;

    width: 1622.72px;
    height: 1333.88px;

    transform: translate(calc(100% + 500px)) rotate(-137.88deg);
  }

  &--big {
    width: 1277.47px;
    height: 1167.77px;

    bottom: -325px;

    transform: translate(calc(0px - 510px)) rotate(118.2deg);
  }
}
