.select {
  position: relative;

  display: flex;

  overflow: hidden;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  cursor: pointer;

  border: 1px solid var(--link);
  border-radius: 30px;

  &--50 {
    border-radius: 50px;
  }
}

.select__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.select__modal {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  pointer-events: none;

  opacity: 0;

  transition: opacity 0.25s ease;

  &::after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: "";

    opacity: 0.8;
    background-color: var(--background-primary);
  }

  &--open {
    pointer-events: all;

    opacity: 1;
  }
}
