.wrapper {
  display: grid;

  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: minmax(300px, 100vw);
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;

  &--profile {
    &__container {
      display: grid;

      align-items: start;

      padding-top: 30px;
      grid-template-columns: 280px 1fr;
      gap: 20px;
    }

    &__right {
      width: 100%;
    }
  }
}

.header {
  position: fixed !important;
  z-index: 9;
  top: 0;
  right: 0;
  left: 0;
  grid-area: header;
}

.main {
  grid-area: main;

  &--auth {
    margin-top: 120px;
  }
}

.footer {
  grid-area: footer;
}

@media only screen and (max-width: 810px) {
  .main {
    &--auth {
      margin-top: 70px;
    }
  }
}

@media only screen and (max-width: 750px) {
  .wrapper {
    &--profile {
      &__container {
        padding-top: 20px;
        grid-template-columns: 1fr;
        justify-items: center;
      }
    }
  }
}

@media only screen and (max-width: 475px) {
  .wrapper {
    &--profile {
      &__container {
        padding-top: 15px;
        gap: 15px;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .wrapper {
    &--profile {
      &__container {
        padding-top: 10px;
        gap: 10px;
      }
    }
  }
}
