.wrapper {
  position: relative;

  display: grid;
  overflow: hidden;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: minmax(300px, 100vw);
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;

  &--profile {
    &__container {
      display: grid;
      grid-template-columns: 280px 1fr;

      align-items: start;

      padding-top: 30px;
      gap: 20px;
    }
  }
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

@media only screen and (max-width: 720px) {
  .wrapper {
    &--profile {
      &__container {
        grid-template-columns: 1fr;
        justify-items: center;
      }
    }
  }
}
