.footer {
  padding: 30px 0;

  font-size: 14px;
  line-height: 21px;
}

.footer__container {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr auto 80px auto;
  grid-template-areas: "nav . personal . language . copyright";
}

.footer__nav {
  grid-area: nav;
}

.footer__personal {
  grid-area: personal;
}

.footer__language {
  grid-area: language;
}

.footer__copyright {
  grid-area: copyright;
}

.footer__link {
  text-decoration: none;

  color: inherit;

  & + & {
    margin-left: 30px;
  }

  &:hover {
    text-decoration: underline;
  }
}
