.advertisements {
  display: grid;

  width: 100%;

  margin-bottom: 50px;
  gap: 20px;

  grid-template-columns: 1fr;

  grid-template-areas:
    "heading"
    "create"
    "list";
}

.advertisements__heading {
  margin: 0;

  font-size: 28px;

  font-weight: 500;
  line-height: 42px;

  grid-area: heading;

  &::first-letter {
    text-transform: uppercase;
  }
}

.advertisements__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  margin: 0;
  padding: 0;

  list-style-type: none;

  grid-area: list;
}

@media only screen and (max-width: 1150px) {
  .advertisements {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .advertisements__list {
    width: 100%;
    max-width: 580px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 750px) {
  .advertisements {
    justify-items: center;
  }

  .advertisements__list {
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  .advertisements__list {
    max-width: 580px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 475px) {
  .advertisements {
    gap: 15px;
  }

  .advertisements__list {
    gap: 15px;
  }
}

@media only screen and (max-width: 425px) {
  .advertisements__list {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;

    width: 100%;
  }

  .advertisement {
    width: 100%;
    max-width: 280px;
  }
}

@media only screen and (max-width: 410px) {
  .advertisement {
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .advertisements {
    gap: 10px;
  }

  .advertisements__list {
    gap: 10px;
  }
}
