.select {
  width: 100%;
  max-width: 680px;
  max-height: 640px;
  padding: 50px;

  text-align: center;
}

.select__list {
  display: grid;
  grid-template-columns: minmax(200px, 250px) minmax(200px, 250px);

  justify-content: center;

  margin: 0;
  padding: 0;

  list-style-type: none;
  gap: 30px;
}

.select__item {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 10px;
  justify-items: center;

  width: 100%;

  text-align: center;
}

.select__item__heading {
  display: block;

  margin: 0;

  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}

.select__item__image {
  display: inline-block;

  width: 200px;
  height: 300px;
}

.select__item__text {
  margin: 0;

  font-size: 18px;
  line-height: 24px;
}

.select__item__button {
  padding: 15px 20px !important;
}

@media only screen and (max-width: 650px) {
  .select {
    padding: 20px;

    border-radius: 25px;
  }

  .select__list {
    gap: 20px;

    grid-template-columns: minmax(100px, 250px) minmax(100px, 250px);
  }

  .select__item__heading {
    font-size: 24px;
    line-height: 32px;
  }

  .select__item__image {
    width: 100px;
    height: 200px;
  }

  .select__item__text {
    max-width: 130px;
    font-size: 12px;
    line-height: 16px;
  }

  .select__item__button {
    padding: 10px 15px !important;

    font-size: 12px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 475px) {
  .select {
    padding: 15px;
  }
}

@media only screen and (max-width: 375px) {
  .select {
    padding: 10px;
  }
}
