.header {
  position: relative;

  color: var(--white);

  will-change: box-shadow;

  &--sticky {
    box-shadow: var(--box-shadow);

    &::after {
      opacity: 1 !important;
    }
  }

  &::after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: "";

    transition: opacity 0.15s ease-out;
    pointer-events: none;

    opacity: 0.7;
    background-color: var(--background-header);
    will-change: opacity;
  }
}

.header__container {
  position: relative;
  z-index: 2;

  display: grid;

  align-items: center;
  grid-template-columns: auto 1fr auto;
  gap: 50px;
  grid-template-areas: "link nav profile";
}

.header__link {
  text-decoration: none;

  color: inherit;

  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  grid-area: link;
}

.header__nav {
  grid-area: nav;
}

.header__profile {
  grid-area: profile;
}
