.users__heading {
  margin: 0;
  margin-bottom: 20px;

  font-size: 28px;

  font-weight: 500;
  line-height: 42px;

  &::first-letter {
    text-transform: uppercase;
  }
}

.users__list {
  overflow: visible;
}

.user__slide {
  max-width: 220px;
}
