.home {
  display: grid;
  gap: 50px;

  margin-bottom: 50px;
}

.home__inner {
  display: grid;
  gap: 20px;
}

.home__heading {
  margin: 0;

  text-decoration: none;

  font-size: 28px;
  font-weight: 500;
  line-height: 42px;

  a {
    text-decoration: inherit;

    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 1150px) {
  .home {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 500px) {
  .home {
    gap: 30px;
  }

  .home__heading {
    font-size: 22px;
    line-height: 33px;
  }
}

@media only screen and (max-width: 475px) {
  .home__inner {
    gap: 15px;
  }
}

@media only screen and (max-width: 425px) {
  .home {
    gap: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .home__inner {
    gap: 10px;
  }
}
